
@media only screen and (max-width:480px){
    .main-container{
        display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
    }
    .intro-container{
        max-width: 326px;
        height: 516px;
        margin: 82px 51px;
        border: 2px solid black;
    }
    .intro {
        &--small {
            margin-bottom: 30px;
        }
        &--large {
            font-size:50px;
        }
    }
    .about-me-container {
        border: 2px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 368px;
        max-height: 1281px;
        padding: 0;
        margin: 0;
    }
    .about-me{
        &--title{
            margin-top: 0;
            margin-bottom: 60px;
        }
        &--pic {
            width: 70%;
            height: 20%;
        }     
    }
        p {
            font-size: large;
            line-height: 1.5;
        }
        .skills-container{
                border: 2px solid black;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    max-width: 366px;
                    max-height: 710px;
                    padding: 0;
                    margin: 0;
        }
}